<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Megasena</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:5000/uploader">Enviar jogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:5000/ocorrencias">Ocorrências</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:5000/volante">Apostar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:5000/sugerir">Sugerir Jogos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>